.footer {
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
  height: 100px;
  z-index: 2;
  text-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0px;
}

.footer-background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-background-green {
  background-color: #0b704a;
  height: 30%;
}

.footer-background-white {
  background-color: #fff;
  height: 70%;
}

.footer-content {
  position: relative;
  max-width: 560px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-logo {
  z-index: 3;
  align-self: center;
}

.footer-logo img {
  width: 90px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  height: 100%;
}

.footer-text-flavor {
  font-size: 1.3rem;
  font-family: "DIN Web W07 Cond Black";
  color: #fff;
  height: 30%;
  display: flex;
  align-items: center;
}

.footer-text-main {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-text-minde,
.footer-text-random {
  font-family: "kenyan coffee rg";
}

.footer-text-minde {
  font-size: 2.2rem;
  color: #0b704a;
}

.footer-text-random {
  font-size: 1.15rem;
  color: #000;
}

@media (max-width: 595px) {
  .footer {
    height: 80px;
  }

  .footer-content {
    padding: 0 20px;
  }

  .footer-logo img {
    width: 70px;
  }

  .footer-text-flavor {
    font-size: 1.2rem;
  }

  .footer-text-minde {
    font-size: 1.7em;
  }

  .footer-text-random {
    font-size: 0.85em;
  }
}
