.match-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.match-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .match-list-container {
    padding: 10px;
    gap: 10px;
  }

  .small {
    width: 240px;
  }

  .small .match-day {
    width: 40px;
    height: 40px;
    font-size: 2em;
  }

  .small .match-description {
    height: 40px;
    font-size: 1.2em;
  }

  .small .match-time {
    height: 20px;
    font-size: 0.9em;
  }

  .small .match-fill {
    height: 20px;
  }
  .small .match-fill .match-type {
    font-size: 0.9em;
  }

  .match-column {
    width: 100%;
  }
}
