.match-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  gap: 25px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust gap as needed */
  overflow: hidden;
}

@media (max-width: 768px) {
  .match-list {
    gap: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    overflow: hidden;
  }
}
