/* src/components/Match.css */
.match {
  display: grid;
  width: 400px;
  height: 85px;
  margin: 5px 0; /* Adjust margin as needed */
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-shadow: rgba(0, 0, 0, 0.25) 2px 3px 0px;
}

@font-face {
  font-family: "DIN Web W07 Cond Black";
  src: local("DIN Web W07 Cond Black"),
    url(../../public/DIN\ Web\ W07\ Cond\ Black.ttf) format("woff");
}
@font-face {
  font-family: "DIN Web W07 Cond";
  src: local("DIN Web W07 Black"),
    url(../../public/DIN\ Web\ W07\ Cond.ttf) format("woff");
}

.match-field {
  writing-mode: vertical-lr; /* This will rotate the text */
  transform: rotate(
    180deg
  ); /* This will ensure "GAME" starts from the bottom going up */
  text-align: center;
  font-family: "DIN Web W07 Black";
  text-shadow: rgba(0, 0, 0, 0.25) -2px 3px 0px;
  background-color: #21b46b;
  height: 100%;
  width: 22px;
  display: flex;
  color: #fff;
  justify-content: center;
  white-space: nowrap; /* Keep the text on one line */
  grid-column: 3; /* Position in the third column */
  grid-row: 1 / span 2; /* Span through the entire height */
  align-content: center; /* Center vertically */
}

.match-day {
  height: 55px;
  width: 55px;
  background-color: #21b46b;
  color: #fff;
  font-family: "DIN Web W07 Cond Black";
  text-align: center;
  font-size: 45px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: end;
  justify-content: center;
}
.match-description {
  position: relative;
  height: 55px;
  width: auto;
  font-family: "DIN Web W07 Cond Black";
  background-color: #0b704a;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  overflow: hidden;
}
.block {
  display: flex;
  flex-direction: column;
}
.match-team {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  font-size: 34px;
  height: 25px;
  z-index: 2;
}

/* Add to sporting-calendar/src/components/Match.css */
.team-logo {
  width: 150px; /* Example size, adjust as needed */
  height: 150px; /* Maintain aspect ratio */
  position: absolute;
  right: -20px;
  bottom: -60px;
  transform: rotate(-25deg);
  opacity: 0.5;
  z-index: 1;
  /* Ensure the parent .match-team div has position: relative; */
}

.match-type {
  font-family: "DIN Web W07 Cond Black";
  font-size: 13px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  height: 30px;
  padding-left: 10px;
}

.match-time {
  font-family: "DIN Web W07 Cond Black";
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.match-fill {
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 560px) {
  .match {
    width: 60%; /* Adjust width to be responsive */
    height: 15%; /* Let the height adjust automatically */
    margin: 5px 0; /* Adjust margin as needed */
    grid-template-columns: 1fr 5fr 1fr; /* Adjust column widths if necessary */
    grid-template-rows: auto auto; /* Let rows adjust automatically */
  }

  .match-day {
    margin: 0;
    font-size: 3em; /* Adjust font size */
    padding: 0px;
  }

  .match-description {
    padding-left: 5px; /* Adjust padding */
    font-size: 14px; /* Adjust font size */
  }

  .match-team {
    font-size: 24px; /* Adjust font size */
  }

  .team-logo {
    margin: 0 auto;
    width: 100px; /* Adjust size */
    height: 100px; /* Adjust size */
    bottom: -55%;
  }

  .match-time {
    font-size: 1.1em; /* Adjust font size */
  }

  .match-field {
    width: 18px; /* Adjust width */
    font-size: 0.9em; /* Adjust font size */
  }

  .match-type {
    font-size: 1.1em; /* Adjust font size */
  }
}
