.match-list-container-1 {
  display: flex;
  gap: 10px;
}
.match-list-container-1 > * {
  height: 100%;
}

.match-list-container-2 {
  display: flex;
  gap: 5px; /* Smaller gap between columns */
}

.column {
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px; /* No gap between items in columns */
}
.column > * {
  margin: 0; /* Ensure no extra margin */
  padding: 0; /* Ensure no extra padding */
}
.match-list-container-2 > * {
  width: 100%;
  height: 100%;
}

.match-column {
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
}

@media (max-width: 560px) {
  .match-list-container-2 {
    gap: 2px; /* Even smaller gap between columns for mobile */
  }

  .column {
    gap: 10px; /* No gap between items in columns */
  }

  .column > * {
    margin: 0; /* Ensure no extra margin */
    padding: 0; /* Ensure no extra padding */
  }
}
