/* Global styles */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  background-color: rgba(0, 0, 0, 1);
}

.App {
  background: url("../public/jl7_1002_1.jpg") top center / cover no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  display: flex;
  margin: 0 auto;
  z-index: 0;
  flex-direction: column;
  min-height: 100vh; /* Updated for full viewport height */
  width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 67vh;
  width: 560px;
}
